*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav.navebar {
    width: 100%;
    height: 85px;
    /* box-shadow: rgb(210 210 210) 0px 5px 15px; */
    overflow: hidden;
}
.navebar .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.logo,.lnks,.btns,.lnks ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.logo,.btns{
    width: 20%;
}
.lnks{
    width: 60%;
}
.btns button{
    font-size: 1.3rem;
    color: var(--primary-color);
    font-weight: 400;
    position: relative;
    border: 1px solid var(--primary-color);
    min-width: 150px;
    height: 55px;
    border-radius: 40px;
    transition: all 0.35s ease 0s;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 16px;
    overflow: hidden;
    background-color: transparent;
}
.btns button:hover{
    box-shadow: rgb(3 134 198) 0px 5px 15px;
    background-color:#0386c6;
    color: white;


}
.btns button:hover {
    color: rgb(255, 255, 255);
    border: 1px solid var(--primary-color);
    text-decoration: none;
}
.btns button::before {
    content: "";
    background: var(--primary-color);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    height: 0px;
    border-radius: 50% 50% 0px 0px / 75% 75% 0px 0px;
    transition: height 0.35s ease 0s;
}
.btns button:hover::before {
    height: 200%;
}

.logo img{
    width: auto;
    max-width: 130px;
}
.lnks ul{
    list-style: none;
    margin: 0;
    padding: 0;
 
}
.lnks ul li{
    margin: 10px;
}
.lnks ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #0386c6;
}
.mobicon{
    display: none;
}
@media (max-width:900px){
        .mobicon{
            width: 80%;
            display: flex;
            justify-content: end;
            align-items: center;
        }
        .mobicon button{
            background: none;
    border: 0;
    transform: rotate(90deg);
    font-size: 20px;
    font-weight: bolder;
    color: #097cb1;
        }
        .navemob .btns, .navemob .lnks{
            display: none;
        }
    }
 